* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.SearchField {
  margin-left: 35px;
  padding-top: 25px;
  display: flex;
  align-items: center;
}
.Button {
  margin-left: 15px;
  display: center;
}

.Tabs {
  margin-top: 60px;
  display: flex;
  justify-content: space-around;
}
.SearchIcon {
  font-size: small;
}
